@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'");         
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Slab&display=swap');


* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: grey;
    color: black;
    font-family: "Roboto Slab", Arial, sans-serif;
}

header {
    background-color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 1.5vw;
}

header p {
    font-weight: lighter;
    color: rgb(255, 255, 255);
}

header a {
    font-weight: bolder;
    color: white;
}

main {
    color: black;
}


section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    color: white;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3.5vw;
}

#img01 {
    background-image: url(imagens/borboleta.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
}

#img02 {
    background-image: url(imagens/florzin.jpg);
    background-position: left center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
}

.normal {
    background-color: white;
    color: black;
}

footer {
    background-color: rgb(0, 0, 0);
    padding: 15px;
    color: white;
}

a {
    text-decoration: none;
    
}
a:hover {
    text-decoration: underline;
}

h1 {
    font-family: "Bebas Neue", Arial, sans-serif;
    font-size: 3em;
}